#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>
<form id="books" method="post">
            <input type="text" name="searchTerm" placeholder="$msg.get("SEARCH_TEXT")" value="$searchTerm" >
             <input type="submit" value="$msg.get("SEARCH_BUTTON")">
        </form>

#if($searchResult)
        <h2>$searchResult</h2>
 #end
<div class="row row-3">
    #foreach($book in $books)
        <div class="col">
            <a class="book" href="/book/$book.getIsbn()/">
                <div class="bookCover">
                    <img src="$book.getMediumCover()" alt="$book.getTitle()">
                </div>
                $msg.get("BOOKS_CAPTION", $book.getTitle(), $book.getAuthor())
            </a>
        </div>
    #end
</div>
#end
